/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #e6daec;
  color: #080808;
  margin: 0;
}

/* Estilos do formulário */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #11508b;
  border-radius: 5px;
  background-color: #caddec;
}

@media only screen and (max-width: 767px) {
  form {
    max-width: 90%;
  }
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

input[type="text"] {
  display: block;
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #11508b;
  border-radius: 3px;
}
.bnt-class{
  display: flex;
  justify-content: space-between;
  gap: 1rem;

}

button{
  width: 120px;
  background-color: #c17fe2;
  border:1px solid ;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  background: #097897;
  color:#ffffff;
  
}

button[type="button"]:hover {
  background-color: #479bd3;
}
