/* Estilos gerais */
body {
    font-family: "Lexend", sans-serif;
    background-color: #addbf0;
    color: #0e070f;
    margin: 0;
  }

  /* Estilos do formulário */
form {
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #3273d4;
    border-radius: 5px;
    background-color: #a3cae4;
  }