body {
    background-image: url('../image/fundo.afif'); /* Substitua pelo caminho da sua imagem */
    background-size:100%; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    padding: 380px 20px;
    background-color: transparent;
    color: white; 
    position: relative; /* Para o uso de flexbox e centralização */
}

.nav {
    flex: 1; /* Faz com que a navegação ocupe o espaço disponível */
    display: flex;
    justify-content: center; /* Centraliza os itens da navegação horizontalmente */
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin: 0 15px; /* Espaço entre os links */
}

.nav ul li a {
    color: black; /* Cor padrão dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-size: 20px;
    transition: color 0.3s ease; /* Suaviza a transição da cor */
}

.nav ul li a:hover {
    color: #13a4e7; /* Cor dos links quando o mouse está sobre eles */
    text-decoration: underline; /* Opcional: adiciona sublinhado ao passar o mouse */
}
