<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Formulário</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<link rel="stylesheet" href="../asset/style/grade_horario.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
	<h1>Grade de Horario</h1>
	<form id="grade_de_horario">
		<label for="diaDaSemana">Dia da semana:</label>
		<input type="text" id="diaDaSemana"><br>
		<br>

		<h2>Posição da Aula:</h2>
		<select id="posicao_aula">
			
			<option></option>
			<option>Primeira Aula</option>
			<option>Segunda Aula</option>
			<option>Terceira Aula</option>
			<option>Quarta Aula</option>
			<option>Quinta Aula</option>
			<option>Sexta Aula</option>
				<!--<option> th:each ="item : ${items}" th:value="${item.id}" th:text="${item.nome}"</option>-->
		</select>

	
		<h2>Turmas:</h2>
        <select name="accont" id="turma">

			<option></option>
			<option>6°A</option>
			<option>6°B</option>
			<option>8°B</option>
			<option>9°C</option>
			<option>2°Técnico</option>
			<option>3°Técnico</option>
			<!--<option value="professor">Todas as Turmas</option>-->
			<!--<option> th:each ="item : ${items}" th:value="${item.id}" th:text="${item.nome}"</option>-->
        </select>

		<div class="btn-class">
			<button type="button" id="submit-btn-salvar" onclick="salvar()">Salvar</button>		
			<button type="button" id="submit-btn-salvar" onclick="consultar()">Consultar</button>		
			<button type="button" id="submit-btn-salvar" onclick="alterar()">Alterar</button>		
			<button type="button" id="submit-btn-salvar" onclick="apagar()">Apagar</button>				
		</div>
		<!-- <button type="submit" onclick="executar()">Enviar</button> -->
	</form>	

	
		<button class="button-home" onclick="window.location.href='../page/home.html'">Voltar para a página inicial</button>
		<div id="mensagem" style="color: red;"></div>


	<script src="../script/grade_horario.js"></script>
</body>
</html>
